<div>
    <div class="blog-margin">
        <div class="blog-primer container">
            <h2>From the Blog</h2>
            <div>
                <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="assets/messi.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Lionel Messi</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius nunc sem, nec lobortis lectus imperdiet a. Mauris ullamcorper rutrum.</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="assets/tiger.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Tiger Woods</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius nunc sem, nec lobortis lectus imperdiet a. Mauris ullamcorper rutrum.</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="assets/michael.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Michael Schumacher</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius nunc sem, nec lobortis lectus imperdiet a. Mauris ullamcorper rutrum.</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>