<section id="campeones" class="padded">
  <div class="container">
    <h2>Campeones</h2>
    <div class="row">
      <div class="col-md-8">
        <table class="table">
           <thead>
             <tr>
                <th>Deporte</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>País</th>
             </tr>
           </thead>
             <tbody>
              <tr *ngFor="let itemCampeon of listaCampeones" 
              (click)="seleccionar(itemCampeon)" 
              [class.table-primary]="itemCampeon === CampeonElegido">
                <td>{{itemCampeon.id}}</td>
                <td>{{itemCampeon.deporte}}</td>
                <td>{{itemCampeon.nombre}}</td>
                <td>{{itemCampeon.edad}}</td>
                <td>{{itemCampeon.pais}}</td>
              </tr>
             </tbody>
        </table>
        <!--
        <p><strong>GANADOR: </strong>{{colaboradorGanador.nombres}}/p>
        -->
      </div>
      
      <div class="col-md-4">
        <div class="col-md-4" *ngIf="campeonElegido">
          <img src={{campeonElegido.foto}} alt="" class="img-fluid">
          <h4>{{campeonElegido.deporte}}</h4>
          <p>{{campeonElegido.nombre}}<br>{{campeonElegido.edad}}<br>{{campeonElegido.pais}}</p>
       </div>      
      </div>
    </div>
  </div>
</section>