<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" style="background: transparent;">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand text-white" href="./">
            <img src="assets/images/logo/01.png">
        </a>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link text-white" href="#Deportes">Deportes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#Anuncios">Eventos Internacionales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#EventosProx">Eventos Nacionales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#Galeria">Galería</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#Noticias">Noticias</a>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Opciones
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#" id="menu-item-cuartosMundial">Consulta</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item text-white" href="#" id="menu-item-deportistas">Jugadores
                            Importantes</a></li>
                    <li><a class="dropdown-item text-white" href="#" id="menu-item-torneo">Torneos</a></li>
                    <li><a class="dropdown-item text-white" href="#" id="menu-item-modelo">Modelos Autos</a></li>
                    <li><a class="dropdown-item text-white" href="#" id="menu-item-tenis">Tenis</a></li>
                    <li><a class="dropdown-item text-white" href="#" id="menu-item-futbolReglas">Futbol</a></li>
                    <li><a class="dropdown-item text-white" href="#" id="menu-item-basquetbol">Basquetbol</a></li>
                    <li><a class="dropdown-item text-white" href="#" id="menu-item-gatos">Gatos(web service)</a></li>
                </ul>
            </li>
        </ul>



        <div class="d-flex">
            <li class="head-contact d-none d-xl-block d-flex"><a href="#">+01 7060000</a>
            </li>
        </div>


    </div>
</nav>