.footer-top {
  background: #15141b;
  padding: 80px 0 50px;
  background-image: url(https://bizmap.dexignzone.com/angular/bg6.2b0951c590ba68628bc3.jpg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

footer .widget ul {
  list-style: none;
}

.imagen-footer {
  margin-bottom: 20px;
}

footer a {
  color: #b7b3cb;
}

.m-b20 {
  margin-bottom: 20px;
}

.m-b30 {
  margin-bottom: 30px;
}

h5 {
  padding: 5px 5px 5px 45px;
}

.list-2 li {
  float: left;
  padding: 5px 5px 5px 15px;
  width: 50%;
  position: relative;
}

.form-control {
  position: relative;
  width: 50px;
  margin-right: 150px;
}

.site-button {
  margin-right: 20px;
}

.footer-final {
  background-color: #15141a;
  padding: 25px 0;
  color: #b0b0b0;
  border-top: 1px solid hsla(0, 0%, 100%, 0.05);
}

ul li {
  color: #b7b3cb;
}

p {
  color: #b7b3cb;
}
